{% extends 'base.html' %}

{% block content %}
    <div class="container is-justify-content-center is-align-items-center">
        <div class="is-justify-content-center is-align-items-center">
            <h1 class="is-size-1 has-text-primary has-text-centered">404</h1>
            <p class="is-justify-content-center is-align-items-center has-text-grey-light has-text-centered">
                Page not found. 
                <br />
                Check that the right link is accessed. 
            </p>
        </div>
    </div>
{% endblock %}